body{
    background-image: url(ONG.jpg);
    background-size: cover;
}
.formulario{
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    width: 250px;
    padding: 15px;
    border-radius: 15px;
    margin: 0 auto;
    transform: translate(0, 150%);
}
.label-form{
    width: 70px;
    display: inline-block;
    margin-bottom: 10px;
}
.btn-login{
    width: 100%;
    padding: 2px;
    display: block;
}
.btn-login{
    background-color: #ff00006b;
    border-color: #ff00006b;
}